body {
  --bg-primary: #212121;
  --text-primary: #868686; 
  --bg-body: #333333; 
  --text-body: #cccccc; 
  --bg-secondary: #444444; 
  --text-secondary: #aaaaaa; 
  --bg-tertiary: #db2777;
  --text-tertiary: #111111; 
}