.page {
  @apply bg-body w-full flex flex-col
} 

/**
 * Backgrounds
 */
.bg-primary {
  background: var(--bg-primary);
} 
.bg-body {
  background: var(--body-bg);
}
.bg-secondary {
  background: var(--bg-secondary);
}
.bg-tertiary {
  background: var(--bg-tertiary);
}

/**
 * Text Color
 */
.text-primary {
  color: var(--text-primary);
}
.text-body {
  color: var(--text-body);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-tertiary {
  color: var(--text-tertiary);
}